/* Header Components */
.header-container {
    height:900px;
    position:relative;
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
}
.header-container::after{
    height:750px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #535A6D;
    z-index: -50;
}

/* Banner Components */
.tallness{
    height: 650px;
}
/* Navbar Components */
.text-decorate{
    color: #DEE7EE;
}